In [1]:
import os
os.chdir("projects_on_GitHub/data_viz/Anscombes_Quartet_Example")

In [6]:
col_names = ["X1", "Y1", "X2", "Y2", "X3", "Y3","X4", "Y4"]
data = pd.read_excel('anscombes-quartet.xlsx', sheet_name='Sheet1', names = col_names, nrows=11)

In [7]:
data

    X1     Y1  X2    Y2  X3     Y3  X4     Y4
0   10   8.04  10  9.14  10   7.46   8   6.58
1    8   6.95   8  8.14   8   6.77   8   5.76
2   13   7.58  13  8.74  13  12.74   8   7.71
3    9   8.81   9  8.77   9   7.11   8   8.84
4   11   8.33  11  9.26  11   7.81   8   8.47
5   14   9.96  14  8.10  14   8.84   8   7.04
6    6   7.24   6  6.13   6   6.08   8   5.25
7    4   4.26   4  3.10   4   5.39  19  12.50
8   12  10.84  12  9.13  12   8.15   8   5.56
9    7   4.82   7  7.26   7   6.42   8   7.91
10   5   5.68   5  4.74   5   5.73   8   6.89

In [8]:
d1 = data[:, ['X1', 'Y1']]
d1

TypeError: '(slice(None, None, None), ['X1', 'Y1'])' is an invalid key